<ion-view view-title="Voting Theory - Borda Count">
  <ion-content>



<style>

    body{
      width:100%
    }
    table {
        border: 5px solid black;
        margin: 0 auto;
        border-collapse: separate;
        width: 50%;
        border-radius: 10px;

    }

    td {
        border: 5px solid black;
        padding:(0,0,0,0);
    }

    tr {
        padding:(0,0,0,0);
    }

    a  {
       color: darkblue;
    }
</style>


    <h1>Borda Count Activity

</h1>
<div id="voteCount" style="font: Amatic SC,cursive; font-weight: 300; font-size: 200%; line-height: 1.5;"> <b>Vote Count will be listed here.</b>
<table>
    <tr>
<td>Picture 1</td>
<td>Picture 2</td>
<td>Picture 3</td>
<td>Picture 4</td>
</tr>
    <tr>
<td><img src="img/1.jpg" style="width:90%; height: 90%"><br/>Craig, Corif, and Class</td>
<td><a href="img/2.jpg">Class</a></td>
<td><a href="img/3.jpg">Craig, Corif, and Class</a></td>
<td><a href="img/4.jpg">Craig and Noir</a></td>
</tr>
<tr>
<td>Picture 5</td>
<td>Picture 6</td>
<td>Picture 7</td>
<td>Picture 8</td>
</tr>
<tr>
<td><a href="img/5.jpg">Craig</a></td>
<td><a href="img/6.jpg">Class</a></td>
<td><a href="img/7.jpg">Noir and Isaiah is Frustrated</a></td>
<td><a href="img/8.jpg">Isaiah still Frustrated</a></td>
</tr>
<tr>
<td>Picture 9</td>
<td>Picture 10</td>
<td>Picture 11</td>
<td>Picture 12</td>
</tr>
<tr>
<td><a href="img/9.jpg">Craig and Corif</a></td>
<td><a href="img/10.jpg">Craig and Corif</a></td>
<td><a href="img/11.jpg">Craig and Corif</a></td>
<td><a href="img/1.jpg">Isaiah and Noir</td>
</tr>
</table>

</div>
  </ion-content>
</ion-view>
