<ion-view view-title="Discrete Mathematics at Somerville High School">
  <ion-content>

<center> <h1 style="padding-top:1cm"> <u> Logic Exercises </h1> </u>
  <br>
  <h3> Please use the tab menu to the left and select a logic exercise. </h3>
    <br> 

<div style="font: Amatic SC,cursive; font-weight: 300; font-size: 200%; line-height: 1.5;"> <i> Ask Mr. Reidy if you need help completing the exercise. <br> It would be helpful if you had your symbol sheet in front of you while you completed each exercise. </i> </div>


    <ul class="creatures" id="creatures">
      <li>
        <div class="click-anim">
          <figure class="hyper" style="background-color:#4ae9b8">

            <div class="eye"></div>
            <div class="eye"></div>
            <div class="mouth"></div>

          </figure>
        </div>
        <div class="shadow"></div>
      </li>


  </ion-content>
</ion-view>
